---
const { errors, initialData , buttonText } = Astro.props;
import Input from '@comps/form/Input.astro';

---

<form method='POST' class='ltr space-y-4 p-2 text-xl' dir='ltr'>
  <div class='grid g-cols-[auto_1fr] gap-2'>
    <Input initialData={initialData} errors={errors} name='name' label='Name in English' />
    <Input initialData={initialData} errors={errors} name='nameFa' label='Name in Farsi' />
    <Input initialData={initialData} errors={errors} name='image' />
    <Input initialData={initialData} errors={errors} name='instagram' />
    <Input initialData={initialData} errors={errors} name='twitter' />
    <Input initialData={initialData} errors={errors} name='telegram' />
    <Input initialData={initialData} errors={errors} name='website' />
    <Input initialData={initialData} errors={errors} name='youtube' />
    <Input initialData={initialData} errors={errors} name='wikipedia' />
    <Input initialData={initialData} errors={errors} name='other_link' label='Other Links' />
  </div>
  <div class="grid">
    <button type='submit' class=`btn-prm !text-3xl`>{buttonText ?? "submit" }</button>
  </div>
</form>
