---
import ThemeSwitch from '@comps/theme/ThemeSwitch.astro';
import NavLink from './NavLink.astro';

const props = Astro.props;

// compiler must see the classes to create them. do not create these with a for loop.
const navIcons = {
  planning:
    'bf-i-ph-compass  focus-visible:bf-i-ph-compass-duotone hover:bf-i-ph-compass-duotone  aria-[current=page]:bf-i-ph-compass-duotone ',
  safety:
    'bf-i-ph-shield-plus focus-visible:bf-i-ph-shield-plus-duotone hover:bf-i-ph-shield-plus-duotone  aria-[current=page]:bf-i-ph-shield-plus-duotone ',
  terms:
    'bf-i-ph-book-bookmark focus-visible:bf-i-ph-book-bookmark-duotone hover:bf-i-ph-book-bookmark-duotone  aria-[current=page]:bf-i-ph-book-bookmark-duotone ',
  oppression:
    'bf-i-ph-police-car focus-visible:bf-i-ph-police-car-duotone hover:bf-i-ph-police-car-duotone  aria-[current=page]:bf-i-ph-police-car-duotone ',
};
---

<nav class={props.class}>
  <a href='/' class='pis-2 p-2 no-underline display-none sm:flex gap-4 ac text-xl' aria-label='صفحه خانه'>
    <span aria-hidden='true' class='fw-700 font-family-heading leading-none ls-tighter'> برای ایــران</span>
    <span class='sr-only'>برای ایران</span>
  </a>
  <NavLink
    href={props.currentPath + '#main-content'}
    class='nav-i-ph-arrow-left mis-2 mt-3 pis-3 pie-6 py-1 abs right-0 c-blue11 fw-500 rd-xs italic text-sm bf-i-ph-arrow-left-bold -translate-y-100 focus-visible:translate-y-0 sm:focus-visible:translate-y-10'
  >
    برو به بخش اصلی
  </NavLink>
  <div class='mt-15 sm:mt-10 flex flex-col gap-6 mb-auto'>
    <NavLink href='/posts/planning' class={navIcons.planning}>برنامه‌ریزی</NavLink>
    <NavLink href='/posts/safety' class={navIcons.safety}>ایمنی</NavLink>
    <NavLink href='/posts/terms' class={navIcons.terms}>واژه‌ه‌نامه</NavLink>
    <NavLink href='/posts/oppression-methods' class={navIcons.oppression}>تکنیک‌های سرکوب</NavLink>
  </div>
  <div class='mt-auto flex flex-col gap-6'>
    <ThemeSwitch defaultTheme='system'>
      <button
        class='px-2 bf-i-ph-sun hover:bf-i-ph-sun-duotone dark:bf-i-ph-moon dark:hover:bf-i-ph-moon-duotone !before:m-0 c-sand11'
      >
        <span class='sr-only'>تغییر تم</span>
      </button>
    </ThemeSwitch>
  </div>
</nav>
