---
interface Props {
  href: string;
  class?: string;
  [key: string]: any;
}

const { icon, href, class = "" } = Astro.props;
const currentPath = Astro.url.pathname;
console.log('🚀 ~ currentPath:', currentPath);
---

<a
  href={href}
  class={`pis-2  ls-tighter 
${icon} focus-visible:${icon}-duotone hover:${icon}-duotone  aria-[current=page]:${icon}-duotone  aria-[current=page]:c-prm11
${class}`}
  aria-current={currentPath === href ? 'page' : undefined}
>
  <slot />
</a>
